* {
    
}

body { 
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

h1, h4 {
    color: #fff;
    margin: 0;
}

h5, p {
    margin: 0;
}

/* CONTAINERS CSS START*/
.main-container {
    margin: 150px auto;
    min-width: 550px;
    max-width: 550px;
    padding: 0;
    background-color: #121212;
}

.sub-container {
    margin: 0;
}
/* CONTAINERS CSS END*/

/* TITLE TAB CSS START*/

.title-section {
    position: relative;
    margin-bottom: 61px;
    padding-top: 83px;
    padding-bottom: 78px;
}

.title-section::before {
    content: "";
    background-image: url(images/movie-room.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}

.title-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 44px;
}

.title-container #find-your-film {
    color: #ffffff;
    font-size: 2.674375rem;
    font-weight: 800;
    position: relative;
}

.title-container #my-watchlist {
    color: #ffffff;
    font-size: 0.875rem;
    cursor: pointer;
}

.search-container {
    position: absolute;
    align-items: center;
    display: flex;
    margin: 59px 44px 0;
    width: 462px;
}

#search-field {
    background-color: #2E2E2F;
    border: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    color: gray;
    font-size: 0.875rem;
    height: 35px;
    padding: 11px 15px;
    width: 100%;
}

#search-button {
    background-color: #4B4B4B;
    border: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    color: #fff;
    overflow: hidden;
    height: 35px;
    width: 30%;
}

#search-button:hover {
    color: #2C2C2C;
    background-color: #A5A5A5;
    cursor: pointer;
}

#search-button:focus {
    color: #2C2C2C;
    background-color: #A5A5A5;
}

/* TITLE TAB CSS START*/

/* MOVIE TAB CSS START*/

.movie-list-section {
    margin: 0 44px;
}

.movie-tab {
    display: flex;
    justify-content: center;
    padding-top: 21px;
    margin-bottom: 25px;
    border-bottom: solid 2px #2C2C2C;
}

.movie-tab:last-child {
    border-bottom: none;
}

.movie-title-container {
    display: flex;
    align-items: center;
}

.movie-title-container .star {
    font-size: 0.75rem;
    padding-left: 10px;
}

.movie-image-container {
    text-align: center;
    padding-bottom: 21px;
    margin: 0;
}

.movie-image {
    width: 99px;
    height: 148px;
}

.movie-title {
    font-size: 18px;
}

.movie-info-container {
    padding-top: 15px;
    padding-left: 21px;
}

.movie-detail-info-container {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    margin: 10px 0;
}

.movie-detail-info-container p {
    padding-right: 20px;
}

.add-watchlist:hover {
    cursor: pointer;
}

.movie-description {
    color: #A5A5A5;
    font-size: 0.875rem;
    line-height: 20px;
    padding-bottom: 20px;
}

/* MOVIE TAB CSS END*/